@media (max-width: 768px) {
  * {
    font-family: Helvetica, sans-serif;
    overflow-x: hidden;
  }
  .mobile-upper {
    background-color: #e7e8fa;
    display: block;
    margin-top: 10px;
    padding-top: 10px;
  }
  .upper {
    display: none;
  }
  .bottom {
    overflow: hidden;
    margin: 0px;
  }

  .b-upper,
  .b-lower {
    margin: 0px 0px;
    display: grid;
    grid-template-columns: 1fr;
  }
  .b-upper {
    padding-top: 60px;
  }
  .b-lower {
    margin-top: -70%;
    padding-top: 30px;
    padding-bottom: 100px;
  }
  .textl {
    color: #8992a3;
    font-size: 15px;
    margin-top: 35px;
    margin-left: -25px;
  }
  .block {
    margin: 0 30px;
  }
  .head-head {
    margin-left: -140px;
  }
  .btn-bottom {
    display: none;
  }
  .inner-block {
    position: relative;
    top: 50px;
  }
  .feedboard-title {
    font-size: 4rem;
    margin-top: 50px;
    margin-bottom: 0px;
  }
  /* havdshsgdhghjdahkjsahjkdbhkaslkdm */

  body {
    overflow: visible;
  }

  .header-img {
    top: 74px;
    left: 19px;
    width: 455px;
    height: 70px;
  }

  .top-block {
    width: 370px;
    height: 400px;
    margin: 0px 20px;
  }

  .right-img img {
    top: 600px;
    left: 40px;
  }
  .upper-head {
    width: 410px;
    font-size: 30px;
    top: -24px;
  }

  .icons {
    margin-top: 80px;
  }
  .icons img {
    margin-left: 10px;
    width: 40px;
  }
  .share-btn {
    top: 0px;
    left: 240px;
  }
  .share-btn h3 {
    top: -10px;
    left: 40px;
  }
  .input-field {
    width: 360px;
  }

  .waves {
    display: none;
    margin-top: 500px;
  }

  /* hdjhsjdksajdla;s */
  .commentSection {
    display: flex;
  }
  .cinput {
    border: 0;
    margin-left: 10px;
  }
  .cinput:focus {
    outline: none;
  }
  .cicon {
    height: 40px;
  }
  .csend {
    cursor: pointer;
    margin-left: 100px;
    height: 20px;
    margin-top: 10px;
  }
  /* shdghjsdhksjhds */

  .fbfooter {
    display: block;
    background-color: #ed257a;
    background: url("./components/assets/ImgMobile/footerImg.png") center
      no-repeat;
    background-size: cover;
    margin: 0px 0px !important;
    z-index: 1000;
    width: 100%;
    height: 12vh;
    position: fixed;
    bottom: 0;
    overflow: hidden;
    margin-bottom: -3% !important;
  }
  .headerMob {
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    box-shadow: 1px 1px 10px #000;
    width: 100%;
    position: fixed;
    padding: 10px 0;
    color: #fff;
    top: 0;
    height: 60px !important;
    z-index: 1000000;
    overflow: hidden;
    position: relative;
  }
  .footerImg {
    height: 180px;
    width: 110%;
  }
  .fbhamburger {
    height: 23px;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
  }
  .fblogo {
    height: 50px;
    margin-top: 0px;
    margin-left: 10px;
    cursor: pointer;
  }
  .fbhead2 {
    color: #f7b0b5;
  }
  .fbhead {
    margin-top: 0px;
    font-family: Helvetica, sans-serif;
    font-weight: 900;
    font-size: 30px;
    overflow: hidden;
    color: #ed257a;
  }
  .fhome {
    cursor: pointer;
    position: absolute;
    bottom: 25%;
    left: 5%;
    height: 35px;
  }
  .fsearch {
    cursor: pointer;
    position: absolute;
    bottom: 25%;
    left: 25%;
    height: 35px;
  }
  .fmain {
    cursor: pointer;
    position: absolute;
    bottom: 10%;
    left: 41%;
    height: 70px;
  }
  .fsettings {
    cursor: pointer;
    position: absolute;
    bottom: 25%;
    left: 69%;
    height: 35px;
  }
  .ficon {
    cursor: pointer;
    position: relative;
    bottom: -35%;
    left: 87%;
    height: 35px;
  }

  /* sdfghjsdkjsdhf. */
  .upper-mob {
    background-color: #fff;
    margin: 30px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px #000;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .textlines {
    width: 100%;
  }
  .dashed {
    width: 100%;
    margin-top: 50px;
  }
  .shicon {
    cursor: pointer;
    width: 40px;
    position: relative;
    top: -100px;
    left: 20px;
  }
  .vidicon {
    margin-left: 30px;
  }
  .docicon {
    margin-left: 30px;
    height: 34px;
    width: 40px;
  }
  .para-mob {
    position: relative;
    top: -100px;
    left: 20px;
    font-size: 15px;
    font-weight: 500;
    color: #a1a8e2;
  }
  .btn-share {
    cursor: pointer;
    border: 0;
    border-radius: 15px;
    padding: 10px 30px;
    color: #fff;
    background-color: #626fcf;
    font-size: 16px;
    margin-top: -50px;
    margin-left: -150px;
    width: 100px;
  }
  .mob-right-img {
    position: relative;
    top: -90px;
    left: 50%;
    height: 150px;
  }
  .upper-tophead {
    color: #ed257a;
    font-weight: 780;
  }
  .bottom {
    background: url("./");
    background-color: #e7e8fa;
    margin: 0px;
    font-family: Helvetica, sans-serif;
  }
  .feedboard-title {
    display: none;
  }
  .upper-mob {
    overflow: hidden;
  }
  .block-2 {
    overflow: hidden;
    height: 900px;
  }
  .head-head {
    font-size: 13px;
    margin-left: 0px;
  }
}
